@using E_CommerceAR.Domain.ModalsBase;

@model Login
@{
    ViewData["Title"] = Html.Translate("تسجيل دخول", "Sign In");
    string lang = Context.Session.GetString("language") ?? "en"; ;
    string language = lang == "ar-Pl" ? "ar" : "en";
    string dir = lang == "ar-Pl" ? "rtl" : "ltr";
}
<main class="main-content mt-0">
    <div class="page-header align-items-start min-vh-100" style="background-image: url('/assets/img/back.jpg');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0"> @Html.Translate("تسجيل دخول","Sign in")</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form" asp-action="Login" class="text-start">
                                <div class="col-md-auto mb-3">
                                    <div class="input-group input-group-outline my-1">
                                        <label class="form-label">@Html.Translate("البريد الالكتروني","Email")</label>
                                        <input type="email" class="form-control" name="Email">
                                    </div>
                                    @if (ViewData["ErrorMessage"] != null)
                                    {
                                        <div class="form-check form-switch d-flex align-items-center mb-3">
                                            <label class="text-danger mb-0 ms-3" for="ErrorMessage">@Html.Translate("هذا الحقل الزامي", "This field is required")</label>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-auto mb-3">
                                    <div class="input-group input-group-outline mb-1">
                                        <label class="form-label">@Html.Translate("كلمة المرور","Password")</label>
                                        <input type="password" class="form-control" name="Password">
                                    </div>
                                    @if (ViewData["ErrorMessage"] != null)
                                    {
                                        <div class="form-check form-switch d-flex align-items-center mb-3">
                                            <label class="text-danger mb-0 ms-3" for="ErrorMessage">@Html.Translate("هذا الحقل الزامي", "This field is required")</label>
                                        </div>
                                    }
                                </div>
                                
                                @if (ViewData["InvalidMessage"] != null)
                                {
                                    <div class="form-check form-switch d-flex align-items-center mb-3">
                                        <label class="text-danger mb-0 ms-3" for="ErrorMessage">@Html.Translate("بريد إلكتروني أو كلمة مرور غير صالحة", "Invalid Email or Password")</label>
                                    </div>
                                }
                                else if (ViewData["IsActive"] != null)
                                {
                                    <div class="form-check form-switch d-flex align-items-center mb-3">
                                        <label class="text-danger mb-0 ms-3" for="ErrorMessage">@Html.Translate(" يرجى الانتظار موافقة المسؤول.", "Please wait for the official's approval.")</label>
                                    </div>
                                }
                                else if (ViewData["IsDeleted"] != null)
                                {
                                    <div class="form-check form-switch d-flex align-items-center mb-3">
                                        <label class="text-danger mb-0 ms-3" for="ErrorMessage">@Html.Translate(" تم حذف حسابك يرجى مراجعة المسؤول.", "Your account is deleted. Please contact the administrator.")</label>
                                    </div>
                                }
                                <div class="form-check form-switch d-flex align-items-center mb-3">
                                    <input class="form-check-input" type="checkbox" id="rememberMe" checked style="@(lang == "en"? "right: 2rem;" : "")">
                                    <label class="form-check-label mb-0 ms-3" style="@(lang== "en" ? "" :"right: 2rem;")" for="rememberMe">@Html.Translate("تذكرني","Remember Me")</label>
                                </div>
                              
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">@Html.Translate("تسجيل دخول","Sign in")</button>
                                </div>
                                <p class="mt-4 text-sm text-center">
                                    @Html.Translate("ليس لديك حساب ؟","Don't have an account?")
                                    <a class="text-primary text-gradient font-weight-bold" asp-area="" asp-controller="Accounts" asp-action="Signup">@Html.Translate("تسجيل","Sign up")</a>
                                </p>
                            </form>

                        </div>
                    </div>
                </div>
                <footer class="footer position-absolute bottom-2 py-2 w-100">
                    <div class="container">
                        <div class="row align-items-center justify-content-lg-between">
                            <div class="col-12 col-md-6 my-auto">
                                <div class="copyright text-center text-sm text-white text-lg-start">
                                    © <script>
                                          document.write(new Date().getFullYear())
                                    </script>,
                                    @Html.Translate("جميع الحقوق محفوظه لدى ","All rights reserved by") <i class="fa fa-heart" aria-hidden="true"></i>
                                    <a class="font-weight-bold text-white" target="_blank"> @Html.Translate("بيت الراحة", "HOME SEWET HOME")</a>
                  
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

</main>   
