@using E_CommerceAR.Extensions;
@using E_CommerceAR.Domain.ModalsBase;
@model Signup

@{
     ViewData["Title"] = Html.Translate("تسجيل", "Sign Up");

}
<section>
    <main class="main-content mt-0">
         <div class="page-header min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                    <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image:  url('/assets/img/backSignup.jpg'); background-size: cover;">
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                    <div class="card card-plain">
                        <div class="card-header" style="background-color:transparent !important;">
                                <h4 class="font-weight-bolder">@Html.Translate("تسجيل", "Sign Up")</h4>
                         </div>
                        <div class="card-body">
                            <form role="form" asp-action="Signup" enctype="multipart/form-data">
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("الاسم الاول","First Name")</label>
                                            <input type="text" class="form-control" name="firstName">
                                        </div>
                                        @if (ViewData["ErrorMessage"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("هذا الحقل الزامي", "This field is required")</span>
                                        }
                                    </div>
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("الاسم الاخير","Last Name")</label>
                                            <input type="text" class="form-control" name="LastName">
                                        </div>
                                        @if (ViewData["ErrorMessage"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("هذا الحقل الزامي", "This field is required")</span>
                                        }
                                    </div>
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("البريد الالكتروني","Email")</label>
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                        @if (ViewData["ErrorMessage"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("هذا الحقل الزامي", "This field is required")</span>
                                        }
                                    </div>
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("رقم الهاتف","Mobile No")</label>
                                            <input type="text" class="form-control" name="MobileNo">
                                        </div>
                                        @if (ViewData["ErrorMessage"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("هذا الحقل الزامي", "This field is required")</span>
                                        }
                                    </div>
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("الموقع","Address")</label>
                                            <input type="text" class="form-control" name="Address">
                                        </div>
                                        @if (ViewData["ErrorMessage"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("هذا الحقل الزامي", "This field is required")</span>
                                        }
                                    </div>
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("كلمة المرور","Password")</label>
                                            <input type="password" name="password" class="form-control">
                                        </div>
                                        @if (ViewData["ErrorMessage"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("هذا الحقل الزامي", "This field is required")</span>
                                        }
                                    </div>
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("تحقق كلمة المرور","Confirm Password")</label>
                                            <input type="password" name="ComfirmPassword" class="form-control">
                                        </div>
                                        @if (ViewData["ErrorMessageConfirmPassword"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("كلمتان السر غير متوافقات", "Passwords are incompatible")</span>
                                        }
                                    </div>
                                    <div class="col-md-auto mb-3">
                                        <div class="input-group input-group-outline mb-1">
                                            <label class="form-label">@Html.Translate("المرفقات","Attachments")</label>
                                            <input type="file" name="Attachments" class="form-control" style="direction:@Html.Translate("ltr","rtl")">
                                           
                                        </div>
                                        @if (ViewData["ErrorMessage"] != null)
                                        {
                                            <span class="text-danger">@Html.Translate("هذا الحقل الزامي", "This field is required")</span>
                                        }
                                    </div>
                                    <div class="form-check form-check-info text-start ps-0" style="text-align:@Html.Translate("right !important","left !important")">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        @Html.Translate("أوافق على "," I agree the ") <a href="javascript:;" class="text-dark font-weight-bolder">@Html.Translate("الشروط والأحكام","Terms and Conditions")</a>
                                    </label>
                                </div>
                                    @if (ViewData["EMAIL_EXISTS"] != null)
                                    {
                                        <span class="text-danger">@Html.Translate("عنوان البريد الإلكتروني قيد الاستخدام بالفعل.", "The email address is already in use.")</span>
                                    }
                                    else if (ViewData["WEAK_PASSWORD"] != null)
                                    {
                                        <span class="text-danger">@Html.Translate("كلمة المرور ضعيفة .", "The password is Weak.")</span>

                                    }
                                    <div class="text-center">
                                    <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">@Html.Translate("تسجيل","Sign Up")</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-2 text-sm mx-auto">
                                    @Html.Translate("هل لديك حساب ؟","Already have an account?")

                                    <a type="button" class="text-primary text-gradient font-weight-bold" asp-area="" asp-controller="Accounts" asp-action="Login">@Html.Translate(" تسجيل دخول","Sign In")</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</section>