@model List<E_CommerceAR.Domain.ModalsViews.AttachmentViewModel>
@using E_CommerceAR.Extensions;

@{
    int count = 1;
    string UserRole = null;
}
<style>
    table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td, div.dataTables_wrapper div.dataTables_filter {
        text-align: @Html.Translate("left","right");
    }
</style>
<table class="table align-items-center mb-0" id="UserApprovalTable">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">
                @Html.Translate("الاسم الكامل","Full Name")
            </th>
           
            <th class="text-center">
                @Html.Translate("البريد الإلكتروني","Email")
            </th>
            <th class="text-center">@Html.Translate("دور","Role")</th>
            <th class="text-center">@Html.Translate("العنوان","Address")</th>
            <th class="text-center">@Html.Translate("رقم الهاتف","Mobile No")</th>

            <th class="text-center">@Html.Translate("نشط","Is Active")</th>
            <th class="text-center">@Html.Translate("محذوف","Is Deleted")</th>
            <th class="text-center">@Html.Translate("مرفقات","Attachments")</th>

            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@count</td>
                <td class="text-center">@(item.UsersViewModel.Users.Frist_Name + " " + item.UsersViewModel.Users.Last_Name)</td>
                <td class="text-center">@item.UsersViewModel.Users.Email</td>
                <td class="text-center">
                    @if (item.UsersViewModel.Users.Role == 1)
                    {
                        UserRole = Html.Translate("مسؤول", "Admin").ToString();
                        <span>@UserRole</span>
                    }
                    else if (item.UsersViewModel.Users.Role == 2)
                    {
                        UserRole = Html.Translate("تاجر", "Dealer").ToString();
                        <span>@UserRole</span>
                    }
                    else
                    {
                        UserRole = Html.Translate("عميل", "Customer").ToString();
                        <span>@UserRole</span>
                    }
                </td>
                
                <td class="text-center">
                    @if (item.UsersViewModel.Users.Address is not null || item.UsersViewModel.Users.Address != "")
                    {
                        @item.UsersViewModel.Users.Address
                    }
                    else{
                         @Html.Translate("لا يوجد","Nothing")
                    }
                </td>
                <td class="text-center">

                    @if (item.UsersViewModel.Users.Phone1 is not null || item.UsersViewModel.Users.Phone1 != "")
                    {
                        @item.UsersViewModel.Users.Phone1
                    
                    }else{
                    @Html.Translate("لا يوجد","Nothing")
                    }
                    
 
              
                <td class="text-center">
                    @if (item.UsersViewModel.Users.IsActive == true)
                    {
                        <span class="badge badge-sm bg-gradient-success">@Html.Translate("نشط","Is Active")</span>
                    }
                    else
                    {
                        <span class="badge badge-sm bg-gradient-danger ">@Html.Translate("غير نشط","Non Active")</span>

                    }
                </td>
                <td class="text-center">
                    @if (item.UsersViewModel.Users.IsDelete == true)
                    {
                        <span class="badge badge-sm bg-gradient-danger ">@Html.Translate("محذوف","Is Deleted")</span>

                    }
                    else
                    {
                        <span class="badge badge-sm bg-gradient-success">@Html.Translate("غير محذوف","Non Active")</span>

                    }
                </td>
                <td class="text-center">
                    <button onclick="openAttachments('@item.FileName')" class="badge badge-sm bg-gradient-secondary" style="border:none !important;">
                             @Html.Translate("عرض المرفق","Show Attachment")
                            <i class="fa fa-info"></i>
                      
                    </button>
                </td>
                <td class="text-center">

                    <button class="btn btn-outline-success" style="padding: 9px;" onclick="UnapprovedUser('@item.UsersViewModel.DocumentId')">
                        <i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-outline-danger" style="padding: 9px;" onclick="NoneUnapprovedUser('@item.UsersViewModel.DocumentId')">
                        <i class="">×</i>
                    </button>
               

                </td>
            </tr>
            count++;
        }
    </tbody>
</table>



<script>
    $('#UserApprovalTable').DataTable({
        responsive: true,

    })

    function DeleteUsers(DocumentId) {

        var url = '/Users/DeleteProduct?DocumentId=' + DocumentId;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    $('#allUsersDiv').html('');

                    var url = '@Url.Action("Index", "Users")';
                    $('#allUsersDiv').load(url);
                } else {
                    console.error(data.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
    function openAttachments(AttachmentId) {
        debugger
        var fileFormat = AttachmentId.split('.').pop().toLowerCase();

        var ContentType = fileFormat;
        var GetattachmentId = AttachmentId;
        var attachmentId = GetattachmentId.replace(/ /g, '%20');

        var Url = "https://firebasestorage.googleapis.com/v0/b/finalprojectar-d85ea.appspot.com/o/Attachments%2FgsuQQAw74z7l02QAbD8R%2F" + attachmentId + "?alt=media&token=de4be60e-2bc4-43ca-a891-88a2980907c5";

        if (ContentType == "jpeg" || ContentType == "png" || ContentType == "jpg" || ContentType == "gif" || ContentType == "svg") {
             let Window = window.open("");
            Window.document.write("<body><img style='display: block;-webkit-user-select: none;width: 50%;zoom: 100%' src='" + Url + "'></body>");
        } else if (ContentType == "pdf") {
            let Window = window.open("");
            Window.document.write("<body><iframe src='" + Url + "' style='width: 100%; height: 100%;' frameborder='0'></iframe></body>");
        } else {
            DownloadFilesAttachments(AttachmentId);
        }
    }

    function DownloadFilesAttachments(AttachmentId) {
        

        saveByteArray(FileName, bytes);
    }

    function saveByteArray(reportName, byte) {
        var blob = new Blob([byte], { type: "application/octet-stream" }); // Change the content type accordingly
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        var fileName = reportName;
        link.download = fileName;
        link.click();
    }

    function UnapprovedUser(DocumentId) {
            var message = '@Html.Translate("هل انت متاكد من قبول الموافقة على المستخدم ","Are you sure to accept user approval")'
        var cancel = '@Html.Translate("ألغاء","Cancel")'
            var Save = '@Html.Translate("نعم، قبول المستخدم!","Yes, user acceptance!")'
        var afterSave = '@Html.Translate("تم قبول المستخدم!","User accepted!")'
        Swal.fire({
            title: message,
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: Save,
            cancelButtonText: cancel,
            icon: "warning",
            customClass: {
                confirmButton: "btn btn-success m-2",
                cancelButton: "btn btn-danger m-2"

            },
            buttonsStyling: false,

            showClass: {
                popup: `
              animate__animated
              animate__fadeInUp
              animate__faster
            `
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
            type: 'POST',
            url: '@Url.Action("SendUnapprovedUser", "UserApproval")',
            data: { DocumentId: DocumentId },
            success: function (response) {
                $('#allListUnapprovedUsersDiv').html('');
                var url = '@Url.Action("Index", "UserApproval")';
                $('#allListUnapprovedUsersDiv').load(url);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                // Handle error
            }
        });
            }
        });
       
       @*  $('#allListUnapprovedUsersDiv').html('');

        var url = '/UserApproval/UnapprovedUser?DocumentId=' + DocumentId + '&Full_Name=' + Full_Name + '&Email=' + Email;
        $('#allListUnapprovedUsersDiv').load(url); *@
    }
    function NoneUnapprovedUser(DocumentId) {
        var message = '@Html.Translate("هل انت متاكد من عدم الموافقة على المستخدم ","Are you sure not to approve the user")'
        var cancel = '@Html.Translate("ألغاء","Cancel")'
        var Save = '@Html.Translate("نعم، رفض المستخدم!","Yes, reject the user!")'
        var afterSave = '@Html.Translate("تم رفض المستخدم!","The user was rejected!")'
        Swal.fire({
            title: message,
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: Save,
            cancelButtonText: cancel,
            icon: "warning",
            customClass: {
                confirmButton: "btn btn-success m-2",
                cancelButton: "btn btn-danger m-2"

            },
            buttonsStyling: false,
            showClass: {
                popup: `
          animate__animated
          animate__fadeInUp
          animate__faster
        `
            }
         }).then((result) => {
             if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SendNoneUnapprovedUser", "UserApproval")',
                    data: { DocumentId: DocumentId },
                    success: function (response) {
                        Swal.fire(afterSave, "", "success");

                        $('#allListUnapprovedUsersDiv').html('');
                        var url = '@Url.Action("Index", "UserApproval")';
                        $('#allListUnapprovedUsersDiv').load(url);
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        // Handle error
                    }
                });
            }  
        });
       
      @*   var Edit = true;
        $('#allListUnapprovedUsersDiv').html('');

        var url = '/UserApproval/NoneUnapprovedUser?DocumentId=' + DocumentId + '&Full_Name=' + Full_Name + '&Email=' + Email;
        $('#allListUnapprovedUsersDiv').load(url); *@
    }
</script>