@model List<E_CommerceAR.Domain.ModalsViews.OrdersViewModel>
@using E_CommerceAR.Extensions;

@{
    int count = 1;
}
<style>
    table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td, div.dataTables_wrapper div.dataTables_filter {
        text-align: @Html.Translate("left","right");
    }
</style>
<table class="table align-items-center mb-0" id="OrdersTable">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">@Html.Translate("رقم الطلب","No Order")</th>
            <th class="text-center">@Html.Translate("تاريخ الطلب","Date Order")</th>
            <th class="text-center">@Html.Translate("حالة الطلب","Status Order")</th>
            <th class="text-center">@Html.Translate("اسم العميل","Name Customer")</th>
            <th class="text-center">@Html.Translate("موقع العميل","Address Order")</th>
   
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@count</td>
                <td class="text-center">@item.Orders.OrderId</td>
                <td class="text-center">@item.Orders.Date</td>
                <td class="text-center">@item.Orders.OrderStatus</td>
                <td class="text-center">@item.Orders.Address.FullName</td>
                <td class="text-center">
                    @(item.Orders.Address.AddressTitle + Html.Translate("الشارع", "Street") + item.Orders.Address.AddressTitle)
                </td>

                <td class="text-center">


                    <button onclick="ViewOrder('@item.DocumentId')" class="btn btn-outline-info " style="padding: 9px;">
                        <i class="fa fa-info"></i>
                    </button>

                </td>
            </tr>
            count++;
        }
    </tbody>
</table>



<script>
    $('#OrdersTable').DataTable({
        responsive: true,

    })
    function ViewOrder(DocumentId) {
        var Edit = false;
        $('#allOrdersDiv').html('');

        var url = '/Orders/ViewOrder?DocumentId=' + DocumentId;
        $('#allOrdersDiv').load(url);
    }

</script>